# Aim: Can you accurately predict insurance costs?

# Import library

In [13]:
import pandas as pd
import numpy as np

# Import Data

In [10]:
insurance = pd.read_csv('insurance.csv')

In [11]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
age = insurance['age']
sex = insurance['sex']
bmi = insurance['bmi']
children = insurance['children']
smoker = insurance['smoker']
region = insurance['region']
charges = insurance['charges']

# Single linear regression

## Statistic learning

In [38]:
# Model linear regression between age and  charges
mean_age=np.mean(age)
mean_charges=np.mean(charges)

sum0 = 0
sum1 = 0
for i in range(len(insurance)): 
    k = (age[i]-mean_age)*(charges[i]-mean_charges)
    sum0 = sum0 + k
    t = (age[i]-mean_age)**2
    sum1 = sum1 + t

scope_1 = sum0/sum1
scope_0 = mean_charges - scope_1*mean_age

def model_1(age):

    
    charges_predict = scope_0 + scope_1 * age
    
    return charges_predict

In [ ]:
# accurancy of coefficient

In [39]:
# Accurancy of the model
RSS = 0
TSS = 0
for i in range(len(charges)):
    k = (charges[i] - model_1(age[i]))**2
    RSS = RSS + k
    
for i in range(len(charges)):
    k = (charges[i] - mean_charges)**2
    TSS = TSS + k

R_squard = 1 - RSS/TSS

print(R_squard)

0.08940589967885793

## Machine learning

In [ ]:
# train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(age,charges, train_size=0.7, random_state=2529)

# check shape of train and test sample
X_train.shape, X_test.shape, y_train.shape, y_test.shape

# select model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Step 6 : train or fit model
model.fit(X_train,y_train)